<div class="modal fade" id="new-user-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Usuario</h4>
      </div>
      <div class="modal-body">

        <%= form_for :user, url: '/users', html: { class: 'form-horizontal' } do %>
          
          <div class="form-group">
            <label for="labelnombre" class="col-lg-2 control-label">Nombres</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="nombre" placeholder="Nombres" name="user[nombre]">
            </div>
          </div>

          <div class="form-group">
            <label for="labelapellidos" class="col-lg-2 control-label">Apellidos</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="apellido" placeholder="Apellidos" name="user[apellido]">
            </div>
          </div>

          <div class="form-group">
            <label for="labelemail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="email" placeholder="Email" name="user[email]">
            </div>
          </div>
          
          <div class="form-group">
            <label for="labelcontraseña" class="col-lg-2 control-label">Contraseña</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="password" placeholder="Contraseña" name="user[password]">
            </div>
          </div>

          <div class="form-group">
            <label for="labelconfirmarcontraseña" class="col-lg-2 control-label">Confirmar Contraseña</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="confirmarpassword" placeholder="Confirmar Contraseña">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>