<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://blog.equifax.com/wp-content/uploads/2012/08/family-money-matters-video-contest.jpg" alt="ksjdskidj." height="100" width="100">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Video mas Divertido</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae luctus mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel fringilla enim. Integer ac velit eget enim aliquam bibendum a consectetur felis.123
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://blog.equifax.com/wp-content/uploads/2012/08/family-money-matters-video-contest.jpg" alt="ksjdskidj." height="100" width="100">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Video mas Triste</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae luctus mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel fringilla enim. Integer ac velit eget enim aliquam bibendum a consectetur felis.123
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://blog.equifax.com/wp-content/uploads/2012/08/family-money-matters-video-contest.jpg" alt="ksjdskidj." height="100" width="100">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">AAAAAAAAAAAAAAAAAAAAAAAe</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae luctus mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel fringilla enim. Integer ac velit eget enim aliquam bibendum a consectetur felis.123
  </div>

  <div id="versions"></div>

  <script>
      var socket = io.connect('http://localhost:5001');
      socket.on('front-change', function(msg){
          $('#versions').append($('<li>').text(msg));
      });
  </script>
</div>