<% if @contests.count > 0 %>
<h1 class="text-center text-primary">Mis Concursos</h1>
<% end %>

<br/><br/>

<%= render 'home/contest' %>

  <div id="versions"></div>

  <script>
      var socket = io.connect('http://localhost:5001');
      socket.on('front-change', function(msg){
          $('#versions').append($('<li>').text(msg));
      });
  </script>
</div>