<div class="container">
<% @contests.each do |c| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <% if c.image? %>
          <%= image_tag c.image.url %>
        <% end %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= c.nombre %></h4>
      <%= c.premio %>
    </div>
  </div>
<% end %>
</div>

  <div id="versions"></div>

  <script>
      var socket = io.connect('http://localhost:5001');
      socket.on('front-change', function(msg){
          $('#versions').append($('<li>').text(msg));
      });
  </script>
</div>